* {
    box-sizing: border-box;
    margin: 0;
}

.nav-bar {
    border: 1px solid black;
    height: 60px;
    width: 100%;
    padding-top: 2%;
    background-color: violet;
}

h2.nav-bar-logo {
    display: inline;
    margin-left: 3%;
    font-size: 38px;
}

h2.nav-bar-burger {
    display: inline;
    font-size: 38px;
    margin-left: 56%;
}

.sign-up-form-container {
    border: 1px solid black;
    width: 97%;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sign-up-form {
    border: 1px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    margin-bottom: 13%;
}

.sign-up-form input{
    display: block;
    width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
}

.sign-up-string {
    text-align: center;
    font-size: 35px;
    margin-bottom: 7%;
    margin-top: 5%;
}

.sign-up-label {
    margin-left: 5%;
    font-size: 22px;
}

input.sign-up-submit {
    margin-top: 6%;
    margin-bottom: 9%;
    font-size: 22px;
    background-color: violet;
}
